@{
    ViewData["Title"] = "Add user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Enter User name for delete</h1>
<form action="/Home/Deleteuser" method="post">
    <input type="text" id="username" name="username"><br><br>
    <input type="submit" value="Submit">
    <br />
    @ViewBag.MyMessage
</form>